<h1>Signup</h1>
<button type="button" class="btn btn-dark" routerLink="">Home</button>

<body ng-app="signupApp">
<br>

<br>
<table align="center">
  <tr>
    <div class="row">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm"> <!-- #f passe une référence au formulaire (#x) -->

        <!--############NAME############-->
        <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
          <!-- Nom des champs -->
          <label for="lastName" *ngIf="!(lastName.invalid && lastName.touched)">
            Last name <span style="color:red">*</span>
          </label>
          <label for="lastName" style="color:red" *ngIf="lastName.invalid && lastName.touched">
            Last name <span style="color:red">*</span>
          </label>
          <!-- -------------- -->
          <input type="text" id="lastName" class="form-control" name="lastName" placeholder="ex: Dupont"
                 #lastName="ngModel" ngModel required> <!-- ce champ est requis -->
          <span class="help-block" *ngIf="lastName.invalid && lastName.touched"
                style="color:red">A last name is required.</span>
        </div>

        <br>

        <!--############First name############-->
        <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
          <!-- Nom des champs -->
          <label for="firstName" *ngIf="!(firstName.invalid && firstName.touched)">
            First name <span style="color:red">*</span>
          </label>
          <!-- -------------- -->
          <label for="firstName" style="color:red" *ngIf="firstName.invalid && firstName.touched">
            First name <span style="color:red">*</span>
          </label>
          <input type="text" id="firstName" class="form-control" name="firstName" placeholder="ex: Jean" #firstName="ngModel" ngModel required>
          <!-- form-control revient à la ligne à chaque champ -->
          <span class="help-block" *ngIf="firstName.invalid && firstName.touched" style="color:red">A first name is required.</span>
        </div>
        <br>

        <!--############MAIL############-->
        <div class="form-group" [class.has-error]="mail.invalid && mail.touched">
          <!-- Nom des champs -->
          <label for="mail" class="control-label" *ngIf="!(mail.invalid && mail.touched)">
            Email <span style="color:red">*</span>
          </label>
          <label for="mail" class="control-label" style="color:red" *ngIf="mail.invalid && mail.touched">
            Email <span style="color:red">*</span>
          </label>
          <!-- -------------- -->
          <input type="text" id="mail" class="form-control" name="mail" placeholder="example@example.com"
                 #mail="ngModel" ngModel required email>
          <!-- Affichage des messages d'erreur si l'email entrée est invalide ou pas remplie -->
          <span class="help-block" *ngIf="mail.errors?.required && mail.touched" style="color:red">
              An email is required.</span>
          <span class="help-block" *ngIf="mail.errors?.email && mail.touched" style="color:red">
              Invalid email.</span>

        </div>

        <!--############SEXE############-->
        <div class="form-group">
          <label for="sex">
            Sex <span style="color:red">*</span>
          </label>
          <select id="sex" class="custom-select custom-select-lg mb-3" name="sex" ngModel required>
            <option value="man">Man</option>
            <option value="woman">Women</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!--############PASSWORD############-->
        <div class="form-group" ng-controller="passwordCtrl">
          <label for="password">Password <span style="color:red">*</span> </label>
          <table>
            <tr>
              <td><input class="form-control" type="password" id="password" name="password"
                         (change)="passwordComplexity(f.value['password'])" ngModel required>
              </td>
            </tr>
          </table>

          <i><p *ngIf="small_password" style="color:gray">A password must contain at least 8 characters.</p></i>
          <span *ngIf="bad_password" class="badge badge-pill badge-danger">Weak password</span>
          <span *ngIf="medium_password" class="badge badge-pill badge-warning">Ok password</span>
          <span *ngIf="strong_password" class="badge badge-pill badge-success">Strong pasword</span>
        </div>

        <!--############CONFIRMATION PASSWORD############-->
        <div class="form-group">
          <label for="confirm_password">Confirm your password <span style="color:red">*</span></label>
          <input class="form-control" type="password" id="confirm_password" name="confirm_password"
                 (change)="quickCheckPassword(f)" ngModel required>
          <i><strong><span *ngIf="!same_password"
                           style="color:red">Passwords are not the same.</span></strong></i>
        </div>
        <br>

        <!--############PHOTO DE PROFIL############-->
        <!--
        <div class="form-group">
          <p>Photo de profil</p>
          <input type="file" name="photo" id="photo" (change)="onFileSelected($event)" ngModel>
        </div>
        <br>-->
        <br>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="CGU" name="cgu" ngModel required>
          <label for="CGU" class="form-check-label">J'accepte les <a routerLink="contact">Conditions Générales
            d'Utilisation.</a>
            <span style="color:red"> *</span></label>
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign up {{current_surname}}!
        </button>
        <i><p *ngIf="!f.valid" style="color:gray">Please fill all the form <span style="color:red">*</span>
        </p></i>
      </form>
    </div>
  </tr>
</table>
</body>
